<div class="page-header text-center">
	<h1>Nested Child Apps</h1>
	<p>A work in progress. Won't go past 2 levels right now. The Angular router currently isn't creating child routes correctly.</p>
	<p>Demonstrates reusability of components and reiterates on the fun nesting apps Rob Eisenberg showed in his routing video. This is a fun concept I think everyone should see more than once to drive the point of reusability home.</p>
</div>

<a href="/#/inception/inception/home" class="text-center">
	<img src="http://i2.kym-cdn.com/photos/images/facebook/000/531/557/a88.jpg" class="img-responsive">
</a>

<a href="/#/inception/inception/home" class="btn btn-lg btn-danger">Go Deeper!</a>


<div ng-viewport></div>

