<div class="page-header text-center">
	<h2>Home Page</h2>
</div>

<div class="jumbotron">
	{{ home.message }}	

	<h3>This is a demo of the new <a href="https://github.com/angular/router">Angular Router</a> in Angular 1.x applications.</h3>

	<p>The router is in early stages still and a couple of the things things planned for this demo are still incomplete (linking to child routes throws an undefined for some reason, including the demo app from the official repo).</p>

	<p>This demo will add to the great routing talks already given by <a href="http://youtu.be/h1P_Vh4gSQY">Rob Eisenberg</a> and <a href="http://youtu.be/vecg70fPDFw">Brian Ford</a>.</p>

	<p>I've written on <a href="https://scotch.io/tutorials/single-page-apps-with-angularjs-routing-and-templating">ngRoute</a> and <a href="https://scotch.io/tutorials/single-page-apps-with-angularjs-routing-and-templating">UI-Router</a> before, and I'd like to make this demo more code driven in a real-world application.</p>

	<h3>Main Points:</h3>

	<ul>
		<li>Using the new Angular router in 1.x applications</li>
		<li>Why component based routing is neat (reusable, nestable, sibling-able?)</li>
		<li>Building a quick application real-time helps explain components instead of just looking over an existing app)</li>
	</ul>
</div>
